body {
  color: white;
  background-color: black;
  font-family: sans-serif;
  margin: 0px; }

.wrapper {
  width: 70%;
  margin: 0 auto; }

header {
  color: white;
  background-color: #333;
  width: 100%;
  text-align: center;
  padding: 25px 0 25px 0; }
  header h1 {
    padding: 10px;
    font-size: 3em; }
  header ul {
    list-style: none;
    padding: 0; }
    header ul li {
      display: inline;
      padding: 20px;
      font-size: 2em; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    color: #01978b; }

.gridThree {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 3%; }

.imgBox {
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 100%; }
  .imgBox img {
    width: 100%; }

footer {
  color: white;
  background-color: #222;
  width: 100%;
  text-align: center;
  padding: 25px 0 25px 0; }

.icon {
  padding: 10px 15px 0 25px;
  margin-bottom: 10px;
  font-size: 1.5em; }
