body {
  color: white;
  background-color: #111;
  font-family: sans-serif; }

.container {
  width: 70%;
  margin: 0 auto; }

header {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 25px 0 25px 0; }

.gridThree {
  display: grid;
  grid-template-columns: 50% 50%; }

.imgBox {
  padding: 10px;
  margin: 10px; }

footer {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 25px 0 25px 0; }
