@import 'variables';

body {
    color: white;
    background-color: $dark-gray;
    font-family: sans-serif;
    margin: 0px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

header {
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 25px 0 25px 0;

    h1 {
        padding: 10px;
        font-size: 3em;
    }

    //Navigation
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            padding: 20px;
            font-size: 2em;
        }
    }
}

.gridThree {
    display: grid;
    grid-template-columns: 50% 50%;
}

.imgBox {
    padding: 10px;
    margin: 10px;
    text-align: center;
    img {
        width: 70%;
    }
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 25px 0 25px 0;
}

.icon {
    padding: 10px 15px 0 15px;
    font-size: 1.5em;
}
